.wrapper {
  background: url("background-pic.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  font-family: "Architects Daughter", cursive;
  font-weight: 900;
}
.title {
  font-weight: 700;
}
